/**
* Name        : file name
* Author      : auther name
* Date        : daymonth2022
* Description : Here costomize all default thing
*
*/

@import './variables';

*{
    @include prefix(box-sizing,border-box);
    margin: 0px;
    padding: 0px;
    font-family: myrecursive, Arial, Helvetica, sans-serif;
    font-weight: 400;
    @include prefix(transition,all 0.3s linear);
    @include prefix(scroll-behavior,smooth);
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

img{
    width: 100%;
}

button{
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    @include prefix(transition,all 0.5s linear);
}

svg{
    width: 100%;
    @include prefix(transition,all 0.3s linear);
}

a{
    text-decoration: none;
    color: inherit;
}

input:focus, textarea:focus{
    outline: none;
}

@font-face {
    font-family: myrecursive;
    src: url(./../fonts/Recursive-VariableFont_CASL.ttf);
}

footer{
    width: 100vw;
}