@import './../variables';

@media (max-width : 1400px) {
    .home .home__about .home__about--details{
        h5{
            font-size: $l_font_home_im;
        }

        h2{
            font-size: $l_font_home_name;
        }

        h3{
            font-size: $l_font_home_title;
        }
    }
}

@media (max-width : 600px) {
    .home .home__about .home__about--imgdiv{
        max-width : 276px;
    }
}


@media (max-height : 950px) {
    .home .home__about .home__about--imgdiv{
        max-width : 300px;
    }
}

@media (max-height : 700px) {
    .home .home__about .home__about--imgdiv{
        max-width : 270px;
        width: 70%;
    }
}

@media (max-height : 580px) {
    .home .home__about .home__about--imgdiv{
        width: 50%;
    }
}

@media (max-height : 400px) {
    .home .home__about .home__about--imgdiv{
        width: 30%;
    }
}
