/**
* Name        : _skill_box.scss
* Author      : MD TAZRI
* Date        : 5August2022
* Description : Here media query of .skill__box class components
*
*/

@media (max-width : 820px) {
    .skill .skill__box{
        padding: 20px 20px;
        padding-bottom: 40px;
    }
}

@media (max-width : 790px) {
    .skill .skill__box{
        padding: 20px 40px;
        padding-bottom: 40px;
    }
}

@media (max-width : 658px) {
    .skill .skill__box{
        width: 98%;
        padding: 20px 80px;
        padding-bottom: 40px;
    }
}

@media (max-width : 450px) {
    .skill .skill__box{
        padding: 20px 15px;
        padding-bottom: 40px;
        min-width: 100%;
    }
}


@media (max-width : 334px){
    .skill .skill__box{
        padding: 20px 12px;

    }
}