/**
* Name        : _default.scss
* Author      : MD TAZRI
* Date        : 2August2022
* Description : Here contain defalut color styling
*
*/

@import './../variables';

.red{
    color: $text_red;
}

.svg{
    fill: black;
}

.muted-text{
    color : $small_text;
}

.dark .skill__rows .row{
    .svgicon{
        fill: $secoundary_color;
    }
}