/**
* Name        : _appboxs.scss
* Author      : MD TAZRI
* Date        : 6August2022
* Description : Here designing the appboxs
*
*/

@import './../variables';

.contact__appboxs{
    width: $l_appbox_width_size + 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}