/**
* Name        : _contact.scss
* Author      : MD TAZRI
* Date        : 6August2022
* Description : Here designing the .contact class components
*
*/

@import './../variables';


.contact{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

// import other components
@import './inputboxs';
@import './appboxs';
@import './appbox';

// import media query
@import './../media/contact';