/**
* Name        : _inputboxs.scss
* Author      : MD TAZRI
* Date        : 6August2022
* Description : Here Designing the inputboxs
*
*/

@import './../variables';


.contact__inputboxs{
    // sizing
    max-width: $l_contact_input_width;

    // displaying
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 70%;
    align-items: flex-start;

    input,textarea{
        border-radius: 6px;
        display: block;
        padding: 10px;
        width: 100%;
        font-size: $l_contact_input_font_size;
        transition: all 0.2s linear;
        padding: 9px 12px;
    }
}