/**
* Name        : _main.scss
* Author      : MD TAZRI
* Date        : 2August2022
* Description : Modify main tag except colors
*
*/

main{
    // sizing
    margin: 0px auto;
    min-width: 280px;
    width: 100%;
    max-width : 1111px;
    height: 100%;
}