/**
* Name        : _skill_rows.scss
* Author      : MD TAZRI
* Date        : 4August2022
* Description : Here Designing the .skill_rows class
*
*/

@import './../variables';

.skill__rows{
    // sizing
    width: 100%;
    
    // displaying
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 14px 30px;
}

@import './../media/skill_rows';