/**
* Name        : _skill.scess
* Author      : MD TAZRI
* Date        : 3August2022
* Description : Here I designing the .skill class except color
*
*/ 

@import './../variables';
@import './skill_row';

.skill{
    border: 1px solid aliceblue;
    // displaying
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;

}