/**
* Name        : _skill_box.scss
* Author      : MD Tazri
* Date        : 4August2022
* Description : Here Design the skill box
*
*/

@import './../variables';

.skill__box{
    // sizing
    max-width : $xl_skill_box_width;

    // displaying
    display: flex;
    flex-flow: column wrap;
    flex-basis: $s_skill_box_width;
    align-items: center;
    padding: 20px 20px;
    border-radius: 15px;

    h2{
        margin-bottom: 20px;
    }
}