/**
* Name        : _upper_nav.scss
* Author      : MD TAZRI
* Date        : 7August2022
* Description : Here describe upper nav
*
*/

.home__uppernav{
    position: absolute;
    top: 0px;
    transform: translate(0px,10px);
    font-size: 14px;
    transition: all 0.2s linear;
}