// here declare necessary variable
$primary_color : #201e39;
$secoundry_color : #4AA7E4;
$box_color : #26234A;


// text colors
$text_color : #f0f8ff;
$text_red : #fb0000;
$text_muted : #5e7c95;
$text_upper_navigator : #3D3A60;
$text_color_deep : #D0E3F3;
$text_home_social_icon : #3F84B1;